<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Kone Fanhatcha">
    <meta name="csrf_token" content="{{ csrf_token }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/arbiola.png">

    <title>Arbiola Analytics</title>

    <!-- vendor css -->
    <link href="{% static '/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="../../lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/assets/css/dashforge.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/dashforge.filemgr.css' %}">

  </head>
  <body class="app-filemgr">

    <header class="navbar navbar-header navbar-header-fixed">
      <a href="#" id="mainMenuOpen" class="burger-menu d-none"><i data-feather="menu"></i></a>
      <a href="#" id="filemgrMenu" class="burger-menu d-lg-none"><i data-feather="arrow-left"></i></a>
      <div class="navbar-brand">
        <a href="" class="df-logo">Arbiola <span> &nbsp;Analytics</span></a>
      </div><!-- navbar-brand -->
      <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
          <a href="" class="df-logo">Arbiola <span> &nbsp;Analytics</span></a>
          <a id="mainMenuClose" href="#"><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
          <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
        </ul>
      </div><!-- navbar-menu-wrapper -->
    <div class="navbar-right">
      {% if username %}
      <div class="dropdown dropdown-profile show">
          <a href="#" class="dropdown-link" data-toggle="dropdown" data-display="static" aria-expanded="true">
           <b>{{username}}</b>
          </a><!-- dropdown-link -->
          <div class="dropdown-menu dropdown-menu-right tx-13 show">
            <a href="/logout" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Sign Out</a>
          </div><!-- dropdown-menu -->
        </div>
      {% endif %}
    </div>
    </header><!-- navbar -->

    <div class="filemgr-wrapper">
      <div class="filemgr-sidebar">
        <div class="filemgr-sidebar-header">

          <div class="dropdown dropdown-icon flex-fill mg-l-10">
            <button class="btn btn-xs btn-block btn-primary" data-toggle="dropdown">Explore <i data-feather="chevron-down"></i></button>
            <div class="dropdown-menu tx-13">
              <a href="/user-guide" class="dropdown-item"><i data-feather="file"></i><span>User guide</span></a>
              <a href="/models" class="dropdown-item"><i data-feather="folder"></i><span>Models</span></a>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- filemgr-sidebar-header -->
        <div class="filemgr-sidebar-body">
          <div class="pd-t-20 pd-b-10 pd-x-10">
            <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">Options</label>
            <nav class="nav nav-sidebar tx-13">
              <a href="/" class="nav-link"><i data-feather="database"></i> <span style="font-size:15px;">Datasets</span></a>
              <a href="/supervised-learning/" class="nav-link"><i data-feather="umbrella"></i> <span style="font-size:15px;">Supervised learning</span></a>
              <a href="/unsupervised-learning/" class="nav-link"><i data-feather="anchor"></i> <span style="font-size:15px;">Unsupervised learning</span></a>
              <a href="/models" class="nav-link"><i data-feather="star"></i> <span style="font-size:15px;">Predictions</span></a>
              <a href="/user-guide" class="nav-link"><i data-feather="file-text"></i> <span style="font-size:15px;">User guide</span></a>
              <!-- <a href="/analysis/" class="nav-link"><i data-feather="monitor"></i> <span style="font-size:15px;">Analysis</span></a>
            </nav> -->
          </div>
          <div class="pd-y-10 pd-x-20">
            <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 mg-b-15">DETAILS</label>
            <nav class="nav nav-sidebar tx-13">
              <a href="https://gitlab.com/fanhatcha/arbiola-analytics" class="nav-link" target="_blank"><i data-feather="gitlab"></i> <span style="font-size:15px;">Gitlab</span></a>
              <a href="#" class="nav-link" target="_blank"><i data-feather="file"></i> <span style="font-size:15px;">Report</span></a>
            </nav>
            <hr>
            <p class="tx-12">© copyright 2020 <a href="#">Kone Fanhatcha</a></p>
          </div>
        </div><!-- filemgr-sidebar-body -->

      </div><!-- filemgr-sidebar -->

      <div class="filemgr-content">
        <div class="filemgr-content-header">
          <i data-feather="search"></i>
          <div class="search-form">
            <input type="search" class="form-control" placeholder="Search for models ...">
          </div><!-- search-form -->
          <nav class="nav d-none d-sm-flex mg-l-auto">
            <a href="#" class="nav-link"><i data-feather="list"></i></a>
            <a href="#" class="nav-link"><i data-feather="alert-circle"></i></a>
            <a href="#" class="nav-link"><i data-feather="settings"></i></a>
          </nav>
        </div><!-- filemgr-content-header -->
        <div class="filemgr-content-body">
          {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    </div>
                </li>
                {% endfor %}
            </ul>

          {% endif %}
          {% block content %}
          {% endblock %}
        </div><!-- filemgr-content-body -->
      </div><!-- filemgr-content -->

    </div><!-- filemgr-wrapper -->
    <div class="modal fade" id="predict-result-modal" tabindex="-1" role="dialog" aria-labelledby="predictResultModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-body">
               <h2>
                 <center id="prediction"></center>
               </h2>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="refreshPage()"> X Close</button>
             </div>
           </div>
         </div>
    </div>
    <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/lib/feather-icons/feather.min.js' %}"></script>
    <script src="{% static '/lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static '/assets/js/dashforge.js' %}"></script>
    <script src="{% static '/assets/js/dashforge.filemgr.js' %}"></script>
    <script src="{% static '/assets/js/regression.js' %}"></script>
    <script src="{% static '/assets/js/classification.js' %}"></script>

    <script type="text/javascript">
    var displayPrediction = document.getElementById("prediction");
    function predict(event) {
      event.preventDefault();
      var data = new FormData($('#predict-form').get(0));

      $.ajax({
         url: $(this).attr('action'),
         type: $(this).attr('method'),
         data: data,
         cache: false,
         processData: false,
         contentType: false,
         success: function(data) {

           data.replace('[', '');
           data.replace(']', '');
             $('#predict-result-modal').modal('show');

             displayPrediction.innerHTML = "Prediction : " + data.replace('[', '').replace(']', '');
         }
      });
      return false;
      }

      $(function() {
         $('#predict-form').submit(predict);
      });
    </script>
    <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
    <script type="text/javascript">
    var myDivs = new Array(0, 1);

    function showSelected(sapna) {
        var t = 'showdiv' + sapna,
            r, dv;
        for (var i = 0; i < myDivs.length; i++) {
            r = 'showdiv' + myDivs[i];
            dv = document.getElementById(r);
            if (dv) {
                if (t === r) {
                    dv.style.display = 'block';
                } else {
                    dv.style.display = 'none';
                }
            }
        }
        return false;
    }
</script>

<script>
function refreshPage(){
    window.location.reload();
}
</script>

  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $analysisChart = $("#analysis-chart");
      $.ajax({
        url: $analysisChart.data("url"),
        success: function (data) {

          var ctx = $analysisChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Selected Algorithm',
                backgroundColor: '#27ae60',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Analysis Bar Chart'
              }
            }
          });

        }
      });

    });

  </script> -->

  </body>
</html>
