{% extends 'app/base.html' %}
{% block content %}

<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
    Make a new prediction
  </h2>
  <hr>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
      <form action="/make-a-new-prediction/" method="post" id="predict-form">
      {% csrf_token %}
        {%for attribute in list_of_model_attr %}
        <div class="form-group">
          <label for="{{attribute}}">Enter {{attribute}}</label>
          <input type="text" class="form-control" id="{{attribute}}" name="{{attribute}}">
        </div>
        {% endfor %}
        <input type="hidden" value="{{model_name}}"  name="model-name">
        <input type="hidden" value="{{model_columns}}" name="model-columns">
        <input type="hidden" value="{{selected_algorithm}}" name="selected-algorithm">
        <div class="mt-3">
          <button type="submit" class="btn btn-primary" id="train-id">Predict</button>
        </div>
      </form>
      </div>
      <!-- <div class="col-sm-3 col-md-6 col-lg-6">
        {% if warning_msg %}
         <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{warning_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

      </div> -->

    </div>
  </div>
  <hr>
</div>
{% endblock %}
