{% extends 'app/base.html' %}
{% block content %}

<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
  Analysis
  </h2>
  <hr>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-12">
        <div id="container" style="width:85%;">
           <canvas id="analysis-chart" data-url="{% url 'analysis-chart' %}"></canvas>
         </div>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-6">


      </div>

    </div>
  </div>
  <hr>
</div>

{% endblock %}
