<div class="form-group">
    <label>Select a dataset</label>
    <select id="dataset-select" name="dataset-select" onchange="datasetchange(this.value)" class="form-control">
        <option>-- Select a dataset --</option>
          {% if list_of_datasets %}
            {% for dataset in list_of_datasets %}
            <option value="{{dataset.saved_dataset_name}}">{{dataset.dataset_name}}</option>
            {% endfor %}
            {% else %}
            <option value="0">No dataset found !</option>
         {% endif %}
    </select>
</div>
<br>
<form action="/train-classification-model/" method="post">
   {% csrf_token %}
  <div class="form-group">
  <label for="exampleFormControlSelect3">Select the classification algorithm</label>
  <select class="form-control" name="typeOfAlgorithm" id="clf-model-slct"></select>
  </div>
  <div class="form-group">
  <label for="exampleFormControlSelect3">Which column do you want to predict ? </label>
    <select class="form-control" id="pickone" name="dependentVariable">
    </select>
  </div>
  <div class="form-group">
   <label for="exampleFormControlSelect3">Select the features of the dataset</label>
    <div id="slct2"></div>
  </div>
  <input type="hidden" id="dataset-name" name="dataset-name" value="">
  <div class="mt-3">
    <button type="submit" class="btn btn-primary" id="train-id">Train classification model</button>
  </div>
</form>
