<form action="/train-clustering-model/" method="post">
   {% csrf_token %}
  <div class="form-group">
  <label for="exampleFormControlSelect3">Select the clustering algorithm</label>
    <select class="form-control" name="typeOfAlgorithm">
      <option value="K-Means">K-Means</option>
      <option value="Affinity propagation">Affinity propagation</option>
      <option value="Mean-shift">Mean-shift</option>
      <option value="Spectral clustering">Spectral clustering</option>
      <option value="Ward hierarchical clustering">Ward hierarchical clustering</option>
      <option value="Agglomerative clustering">Agglomerative clustering</option>
      <option value="DBSCAN">DBSCAN</option>
      <option value="OPTICS">OPTICS</option>
      <option value="Gaussian mixtures">Gaussian mixtures</option>
      <option value="Birch">Birch</option>
    </select>
  </div>
  <div class="mt-3">
    <button type="submit" class="btn btn-primary" id="train-id">Train clustering model</button>
  </div>
</form>
