{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h5>Home > <a href="/">Datasets</a> </h5>
  <hr>
  {% if error_msg %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <h4>
          Upload a new dataset
          <hr>
        </h4>
        <form action="/upload-file/" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="form-group">
             <label for="exampleFormControlInput1"><b>Enter the dataset name</b></label>
             <input type="text" name="dataset-name" class="form-control" id="exampleFormControlInput1" placeholder="e.g sales 2016" required>
           </div>
          <p><b>Upload dataset (.CSV file)</b></p>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="csv_file" required>
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Upload dataset</button>
          </div>
        </form>
        <hr>
        <p>
          Need help ? <a href="https://www.youtube.com/watch?v=3jW_ZJpVy_0" target="_blank">Read this tutorial</a> on how to save .XLS file as .CSV file.
        </p>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        {% if list_of_datasets %}
        <h4>
          List of uploaded datasets
        </h4>
          <table class="table">
        		 <tr>
        		 	 <th><b>ID</b></th>
        			 <th><b>Dataset name</b></th>
        		 </tr>
        			{% for dataset in list_of_datasets %}
        			<tr>
        			<td> {{ forloop.counter }} </td>
        			<td>{{dataset.dataset_name}}</td>
        				</tr>
        			 {% endfor %}
        		</table>

            {% else %}
            <p></p>
      {% endif %}
      </div>


    </div>
  </div>
  <hr>
</div>
{% endblock %}
