{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
   K-means clustering result
  </h2>
  <hr>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        {% if uri %}
         <img src="data:image/png;base64,{{uri}}" alt="" height="350" width="450">
         <!-- <hr>
          <img src="data:image/png;base64,{{uri2}}" alt="" height="350" width="450"> -->
        {% else %}
            <p>Result found while training !</p>
        {% endif %}
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <h3>Summary statistics</h3>
        <p>
          {{head|safe}}
        </p>
        <hr>
         <p>
           {{shape|safe}}
         </p>
         <hr>
         <p>
           {{describe|safe}}
         </p>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
