{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
    List of trained models
  </h2>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-6 col-lg-12">
        {% if list_of_models %}

          <table class="table">
        		 <tr>
               <th><b>ID</b></th>
        			 <th><b>Model name</b></th>
               <th><b>Selected attributes</b></th>
               <th><b>Accuracy score</b></th>
               <th><b>ML model</b></th>
               <th><b>Perform prediction on</b></th>
        		 </tr>
        			{% for model in list_of_models %}
        			<tr>
              <td> {{ forloop.counter }}</td>
        			<td>{{model.name}}</td>
              <td>{{model.trained_model_attr}}</td>
              <td>{{model.accuracy_score}} %</td>
              <td>{{model.selected_algorithm}}</td>
              <td>
                <a class="btn btn-success btn-xs" href="/open-model/{{ model.id }}" role="button">Open trained model</a>
              </td>
        				</tr>
        			 {% endfor %}
        		</table>

            {% else %}
            <p></p>
      {% endif %}
      </div>


    </div>
  </div>
  <hr>
</div>
{% endblock %}
