{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
    Supervised learning
  </h2>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <div class="form-group">
         <label for="test">Select type of ML problem</label>
          <select class="form-control" id="test" onchange="showSelected(this.value)">
             <option value="-1" selected="selected">-- Select --</option>
             <option value="0">Classification problem</option>
             <option value="1">Regression problem</option>
         </select>
        </div>
        <div id="showdiv0" style="display:none;">
          {% include "classification.html" %}
        </div>
        <div id="showdiv1" style="display:none;">
          {% include "regression.html" %}
        </div>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <h3>
          How to choose the right Algorithm ?
        </h3>

        <img src="/static/img/ml_map.png" alt=" ML Map" width="700px;">

        <small>Read the user guide.</small>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
