{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
   Model training result
  </h2>
  {% if msg %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <h1>
          Accuracy score : {{score}} %
        </h1>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-6">
        <h1>
          Selected Attributes :
        </h1>
        <h4>
           {{model_attr}} 
        </h4>
      </div>


    </div>

  </div>

</div>
{% endblock %}
