{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
    Unsupervised learning
  </h2>
  <hr>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">

           <div class="form-group">
               <label>Select a dataset</label>
               <select id="dataset-select" name="dataset-select" onchange="datasetchange(this.value)" class="form-control">
                 <option>-- Select a dataset --</option>
                   {% if list_of_datasets %}
                     {% for dataset in list_of_datasets %}
                     <option value="{{dataset.saved_dataset_name}}">{{dataset.dataset_name}}</option>
                     {% endfor %}
                     {% else %}
                     <option value="0">No dataset found !</option>
                  {% endif %}
               </select>
           </div>
          <br>
        <div class="form-group">
         <label for="test">Select type of unsupervised learning problem</label>
          <select class="form-control" id="test" onchange="showSelected(this.value)">
             <option value="-1" selected="selected">select</option>
             <option value="0">Clustering problem</option>
             <option value="1">Association analysis</option>
         </select>
        </div>
        <div id="showdiv0" style="display:none;">
          {% include "clustering.html" %}
        </div>
        <div id="showdiv1" style="display:none;">
          {% include "association.html" %}
        </div>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <h3>
          How to choose the right Algorithm ?
        </h3>
        <p>
          <img src="/static/img/ml_map.png" alt=" ML Map" width="700px;">
        </p>
        <small>Read the user guide.</small>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
