{% extends 'app/base.html' %}
{% block content %}
<div class="pd-20 pd-lg-25 pd-xl-30">
  <h2>
  User Guide
  </h2>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <h3>Choosing the right algorithm</h3>

          <p>Often the hardest part of solving a machine learning problem can be finding the right estimator for the job.</p>

          <p>Different estimators are better suited for different types of data and different problems.</p>

          <p>The flowchart at the right side is designed to give users a bit of a rough guide on how to approach problems with regard to which estimators to try on your data. </p>
          <br>
          <h4>Source: <a href="https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html" target="_blank">scikit-learn.org</a></h4>

      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
      <img src="/static/img/ml_map.png" alt=" ML Map" width="700px;">
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
